# Rectify the code in each cell and **explain the error in comments**

### index error

In [ ]:
mylist=[14, "hello", 967]
mylist[6]

IndexError: ignored

In [1]:
#Correction
mylist=[14, "hello", 967]
mylist[2]

#error is that there are 3 elements in this list and we are trying to call the 7th

967

In [ ]:
import Pandas
import NumPy

ImportError: ignored

In [3]:
#correction
import pandas
import numpy

# syntax error

In [ ]:
Print"python errors"

SyntaxError: ignored

In [4]:
#Missing parenthesis
print ('python errors')

python errors

# key error

In [ ]:
mydictionnary={True:"hello",False:"bye", '3':"python"}
mydictionnary['True']

KeyError: ignored

In [8]:
#Correction : True is a keyword, it should not be put in parenthesis

mydictionnary={True:"hello",False:"bye", '3':"python"}
mydictionnary[True]

'hello'

# indentation error

In [ ]:
i=14
while i<78:
print(i)
i+=1

IndentationError: ignored

In [9]:
#Correction
i=14
while i<78:
    print(i)
    i+=1

14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

# StopIteration

In [ ]:

it=iter([1,2,3])
next(it)
next(it)
next(it)
next(it)

StopIteration: ignored

In [10]:
#Correction
it=iter([1,2,3])
next(it)
next(it)
next(it)

#There are only 3 elements, we cannot iterate 4 times

3

# TypeError

In [ ]:
'15'+15

TypeError: ignored

In [11]:
#correction : we cannot sum string

15 + 15

30

# ValueError

In [ ]:
int('python')

ValueError: ignored

In [ ]:
#Correction : a string cannot be transformed in integer (but an integer can be transformed into a string)

# NameError

In [ ]:
python

NameError: ignored

In [ ]:
#python is a variable here but no value is assigned to it!

# ZeroDivisionError

In [ ]:
x=19/0

ZeroDivisionError: ignored

In [ ]:
#Correction : a number cannot be divided by 0!