### Exercice 1

In [ ]:
mylist = []

for i in range (2000,3201):
    if (i%7 == 0 and i%5 != 0):
        mylist.append(i)

In [5]:
mylist

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

### Exercice 2

In [16]:
def factorial(n):
    result = 1
    for i in range(1,n+1):
        result = result * i
    return result

In [18]:
factorial(4)

24

In [45]:
def recursivefactorial(n):
    if n==1:
        return 1
    else:
        return n*recursivefactorial(n-1)
    
#ca ne renvoit pas 1 car en fait cest juste la derniere valeur de la fonction qui sera égale à 1

In [46]:
recursivefactorial(3)

6

### Exercice 3 : Construire. un dico qui a pour key une valeur de i mais valeur i*i et ca va de 1 and n

In [52]:
def create_dico(n):
    dico = {}
    for i in range(1,n+1):
        dico[i]= i*i
    return dico

In [55]:
mydico = create_dico(8)

In [56]:
mydico

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### Exercice 4 chaine de caractere avec index supprimé

In [73]:
def missing_char(char,index):
    if index == -1:
        return char[:index]
    else:
        return (char[:index]+char[index+1:])

In [75]:
missing_char('kitten',-2)

'kittn'

### Question 5 : write a Numpy program to convert a NumPy array into a Python like structure

In [76]:
import numpy as np

In [77]:
my_array = np.random.randint(0,10,(4,4))

In [80]:
mylist = my_array.tolist()

In [83]:
mylist

[[0, 0, 5, 8], [6, 2, 2, 9], [4, 9, 4, 8], [2, 9, 9, 8]]

In [82]:
mylist[1][3]

9

### Question 6

In [90]:
Array1 = [0,1,2]
Array2 = [2,1,0]

In [91]:
np.cov(Array1,Array2)

array([[ 1., -1.],
       [-1.,  1.]])

### Question 7

In [88]:
def computation(D):
    listresult = []
    C = 50
    H = 30
    for i in range (0,len(D)):
        Q = ((2*C*D[i])/H)**0.5
        listresult.append(round(Q))
    return listresult

In [89]:
computation([100,150,180])

[18, 22, 24]