    Import the Numpy library.
    Ask the user to enter the number of students and the number of subjects.
    Create a Numpy array to store the marks of each student in each subject. The array should have the shape (number of students, number of subjects).
    Ask the user to enter the marks of each student in each subject.
    Calculate the total marks for each student using the sum() function of Numpy.
    Calculate the percentage for each student using the total marks and the formula: percentage = (total marks / (number of subjects * 100)) * 100
    Calculate the grade for each student using the percentage and the following grading system:
        90% or above: A+
        80% or above: A
        70% or above: B+
        60% or above: B
        50% or above: C
        below 50%: F
    Display the result for each student in a tabular format with columns for student name, total marks, percentage, and grade.

In [1]:
import numpy as np
import pandas as pd

In [2]:
NumberStudents = int(input('Enter the number of students'))
NumberSubjects = int(input('Enter the number of subjects'))

Enter the number of students3
Enter the number of subjects4

In [3]:
marks = np.zeros(shape=(NumberStudents,NumberSubjects))

In [14]:
i = 0
j = 0
for i in range(0,NumberStudents):
    for j in range(0,NumberSubjects):
        marks[i,j] = int(input("Saisir la note de l'étudiant {} pour le sujet {}".format(i+1,j+1)))
        j += 1
    i += 1

Saisir la note de l'étudiant 1 pour le sujet 190
Saisir la note de l'étudiant 1 pour le sujet 280
Saisir la note de l'étudiant 1 pour le sujet 370
Saisir la note de l'étudiant 1 pour le sujet 460
Saisir la note de l'étudiant 2 pour le sujet 155
Saisir la note de l'étudiant 2 pour le sujet 278
Saisir la note de l'étudiant 2 pour le sujet 367
Saisir la note de l'étudiant 2 pour le sujet 490
Saisir la note de l'étudiant 3 pour le sujet 130
Saisir la note de l'étudiant 3 pour le sujet 248
Saisir la note de l'étudiant 3 pour le sujet 389
Saisir la note de l'étudiant 3 pour le sujet 477

In [15]:
#Calculate the total marks for each student using the sum() function of Numpy.
SommeNotes = []
for element in range(0,NumberStudents):
    SommeNotes.append(np.sum(marks[element,:]))

Calculate the percentage for each student using the total marks and the formula: percentage = (total marks / (number of subjects * 100)) * 100

In [16]:
percentage = []
for element in range(0,NumberStudents):
    percentage.append((SommeNotes[element]/(NumberSubjects*100))*100)

Calculate the grade for each student using the percentage and the following grading system:
    90% or above: A+
    80% or above: A
    70% or above: B+
    60% or above: B
    50% or above: C
    below 50%: F

In [18]:
dicoNotations = {
                '90%'  : 'A+',
                '80%'  : 'A',
                '70%'  : 'B+',
                '60%'  : 'B',
                '50%'  : 'C',
                '0%'   : 'F',
                }

In [19]:
GradesStudents = []
for i in range(0,NumberStudents):
    if percentage[i] >= 90:
        GradesStudents.append('A+')
    elif percentage[i] >= 80:
        GradesStudents.append('A')
    elif percentage[i] >= 70:
        GradesStudents.append('B+')
    elif percentage[i] >= 60:
        GradesStudents.append('B')
    elif percentage[i] >= 50:
        GradesStudents.append('C')
    else:
        GradesStudents.append('F')

In [27]:
#Avec numpy je peux pas avoir des types de données différentes
#je déclare donc mon array en floating puis mon array en string

TableauFinalfloat = np.zeros(shape=(NumberStudents,3))
for i in range(0,NumberStudents):
    TableauFinalfloat[i,0] = print ('Etudiant')
    TableauFinalfloat[i,1] = SommeNotes[i]
    TableauFinalfloat[i,2] = percentage[i]

TableauFinalstring = np.full(shape=(NumberStudents,1),fill_value='aaa')
for i in range(0,NumberStudents):
    TableauFinalstring[i,0] = GradesStudents[i]

Etudiant
Etudiant
Etudiant

In [21]:
df1 = pd.DataFrame(TableauFinalfloat, columns =['Nom', 'NoteGlobale', 'Percentage'])
df2 = pd.DataFrame(TableauFinalstring, columns =['FinalGrade'])

In [26]:
pd.concat([df1, df2], axis=1)

   Nom  NoteGlobale  Percentage FinalGrade
0  1.0        300.0        75.0         B+
1  2.0        290.0        72.5         B+
2  3.0        244.0        61.0          B